<div class="container-fluid">
  <h1>Quotes</h1>
  <hr>
    <p>quote works!</p>
    <app-quote-form (quoteEvent)="addNewQuote($event)"></app-quote-form>

  <div class="row">
    <div class="col-md-12">
      <div *ngFor='let quote of quote;let i=index'>
        <div>
          <p id="{{i}}">{{quote.quote}} by {{quote.author}}</p>
          <button (click)='toggleDetails(i)' class="btn btn-info" id="details">Details</button>
        </div>
          <div *ngIf='quote.showDescription'>
            <app-qoute-details [quote]='quote'></app-qoute-details>
          </div>

      </div>

      </div>
    </div>
  </div>
